<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap" rel="stylesheet">


<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=3jgrGRXgJfzBWjYo7ezEbQSe-6eRvDn_zk-Jc2eU4I8wOJ_vDJJ9bNxxSRrQ_vwCvq9TqNDPkbQkkXsk2M9r89KIMwJl2trcqa5osk0gZTBGpqcvObstqnRFcg-ZWHvbI_l2fcKLBlPV_d423IhkVA" charset="UTF-8"></script><script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=NsOsMmZntq_Moxa3ZbPa3_VyDQk4QbpujjRHGbfO1nE6bc4FaGkgzWIB-8ugYjaV9N1H4GG9z_Psu_iMamsWkGyS8dTeezfVZdNHv0yFXHC5AFgr3sZr9lvnkH7u6kDKbUZ30OyV_P5PjE0YTEbx3w" charset="UTF-8"></script></head>

<body>
    <div class="container-principal">
	{% block content %}
    {% endblock %}
    </div>
</body>

</html>
